<header>
    <div class="logo">
        <a href="index.html">Pelagonher Admin</a>
    </div>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="cursos.html">Gestión de Cursos</a></li>
            <li><a href="alumnos.html">Gestión de Alumnos</a></li>
            <li><a href="contenido-teorico.html">Contenido Teórico</a></li>
            <li><button id="theme-toggle-btn" class="theme-toggle-btn">Cambiar Tema</button></li>
        </ul>
    </nav>
</header>